################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Toy-Robot/v17/TestStore/0/001.testlog
*.vsidx
